dpkt
ipykernel
jupyter
matplotlib
missingno
numpy
pandas
plotly
pyarrow
pyyaml
scapy
seaborn
scikit-learn
tqdm
torch
torchmetrics
pytorch-lightning
tensorboard
wandb
uv
xgboost
fastparquet
PyYAML
ipaddress
psutil
shap
ipython
rich